{% extends 'core/base_index.html'%}
{% load static %}
{% block content %}

<div class="row">
    <br>
        <a href="/clientes/"><i class="fa fa-backward fa-2x" aria-hidden="true"></i></a>
    <br>
    <div class="col-md-4 offset-md-4">
        <br>
        <h3 style="background-color: #111414; color: white; text-align: center;">Edicion de Cliente</h3>
        
        <div class="card">
            <div class="card-body">
                <form id="formulario" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="cod" value="{{clientes.id_cli}}" name="cod" class="form-control" placeholder="Identificacion" readonly minlength="1" maxlength="6" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" id="txtnom" value="{{clientes.nom_cli}}" name="txtnom" class="form-control" placeholder="Nombres" minlength="1" maxlength="50" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" id="txtape" value="{{clientes.apell_cli}}" name="txtape" class="form-control" placeholder="Apellidos" minlength="1" maxlength="50" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" id="telefo" value="{{clientes.tel_cli}}" name="telefo" class="form-control" placeholder="Telefono" minlength="1" maxlength="12" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" id="dir" value="{{clientes.dir_cli}}" name="dir" class="form-control" placeholder="Dirección" minlength="1" maxlength="20" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="email" id="email" value="{{clientes.email_cli}}" name="email" class="form-control" placeholder="E-mail" minlength="1" maxlength="50" required>
                    </div>
                    <br>
                    <div class="form-group">    
                        <button  onclick="validation()" type="button" class="btn btn-primary btn-block " style="width: 100%;">Guardar</button>
                    </div>


                    
                </form>

            </div>

        </div>
        
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    function actualizar(){

        var form = document.getElementById('formulario')

        form.action = '/editarCliente/';
        form.submit();
        
    }
    
    function validation(){
        Swal.fire({
            title: "Seguro?",
            text: "Esta accion actualizara el registro",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si!"
          }).then((result) => {
            if (result.isConfirmed) {
              actualizar()
            }else{
                window.location.href = '/clientes/';
            }
          });
    }

    
    
</script>

{% endblock %}